* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  color: 	#212121;
  font-family: ff-tisa-sans-web-pro, sans-serif;
  overflow-x: hidden;
}

:root {
  --primary-color: #84BC2D;
  --secundary-color:#7f9054;
  --tertiary-color: #f3f5ee;
  --text-color: 	#212121;
}

/* Algemene styling */

.heading,
h1,
h2,
h3,
h4,
h5 {
  font-family: proxima-nova, sans-serif;
  font-weight: 900;
  line-height: 110%;
}

li {
  list-style: none;
}

/* Navigatie */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 18px 46px;
  max-width: 720px;
}

nav a {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  color: var(--primary-color);
  text-decoration: none;
  transition: 0.075s ease-in-out;
}

.menu {
  display: flex;
  align-items: center;
}

.menu img {
  margin-right: 0.5rem;
}

.logo {
  height: 80px;
  width: 53px;
}

.left-links,
.right-links {
  display: none;
}

nav button,
.left-links,
.right-links {
  border: none;
  background: none;
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--primary-color);
}

/* Main */
/* Heading */

h1 {
  margin: 0 18px 2.875rem;
  font-size: 2.5rem;
}

/* Paragraaf */

.intro {
  margin: 0 18px 2rem;
  font-size: 120%;
  font-weight: 700;
  line-height: 1.5em;
}

/* Filter & tags */

.tags {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 18px 2rem;
}

.filter {
  margin-bottom: 1rem;
  background: none;
  border: none;
  text-align: start;
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 900;
  color: var(--primary-color);
  text-transform: uppercase;
}

.tags-small-screen {
  display: none;
  flex-wrap: wrap;
  padding: 0.25rem;
  background: var(--tertiary-color);
  transition: all 3s ease-in-out; /*werkt niet?*/
}

.tags-small-screen.show {
  display: flex;
  animation: show-tags 0.1s ease-in-out;
}

@keyframes show-tags {
  from {
    opacity: 0;
    margin-top: -5%;
  }
  to {
    opacity: 100%;
    margin-top: 0;
  }
}

.tags-small-screen button,
.flip-card-back span {
  flex-grow: 1;
  margin: 2px;
  padding: 3px 6px;
  background-color: #d1d9be;
  border: none;
  border-radius: 3px;
  font-family: ff-tisa-sans-web-pro, sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: var(--secundary-color);
  cursor: pointer;
  transition: 0.075s ease-in-out;
}

/* Collega's */

.people {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill,minmax(158px,1fr));
  max-width: 1440px;
  padding: 0 18px;
  margin-bottom: 76px; 
}

.people li {
  /* max-width: 240px; */
  /* background: lightgrey; */
}

.people .first-name {
  font-family: proxima-nova, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.25rem;
  color: var(--text-color);
}

.people .email {
  font-family: ff-tisa-sans-web-pro,sans-serif;
  /* font-weight: 700; */
  font-size: 120%;
  line-height: 1.5em;
  text-decoration: none;
  color: var(--primary-color);
}

.person {
  height: 250px;
  width: 100%;
  object-fit: cover;
  /* border-radius: 100% 43% 93% 34% / 93% 81% 93% 78% ; */
  border-radius: 65px 22px 65px 22px;
}

.content {
  max-width: 720px;
}

/* Flip card hover */

.flip-card-inner {
  display: grid;
  perspective: 50em;
}

.flip-card-front,
.flip-card-back {
  grid-column-start: 1;
	grid-row-start: 1;
	backface-visibility: hidden;
	transition: 0.5s;
}

/* .card-front-overlay {
  position: absolute;
  background: transparent;
  height: 250px;
  width: 100%;
  z-index: 100;
} */

.flip-card-back {
  rotate: y 180deg;
}

.flip-card:hover .flip-card-front {
  rotate: y 180deg;
}

.flip-card:hover .flip-card-back {
  rotate: y 360deg;
}

/* class om filters in JS te hiden/showen */

.hidden {
  display: none;
}

/* Hovers, focus & active*/

nav a:hover,
nav a:focus,
nav a:active,
nav button:hover,
nav button:active,
/* .menu img:hover,
.menu img:active, */
.filter:active {
  color: var(--text-color);
}

.email:hover {
  text-decoration: underline;
}

.tags-small-screen button:hover,
.tags-small-screen button:focus,
.tags-small-screen button:active {
  background: #FFFF;
  color: var(--text-color);
}

@media (min-width: 601px) {
  nav {
    margin: 0 auto;
    /* padding: 36px 18px 76px; */
  }

  .menu {
    display: none;
  }

  .left-links {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }

  .logo {
    margin: 0 2rem;
  }

  .right-links {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }

  .right-links li:nth-child(3) {
    padding-right: 32px;
  }

  .contact {
    display: none;
  }

  .content {
    margin: 0 auto 76px;
    padding: 0 18px;
  }

  h1 {
    font-size: 52.358px;
  }

  .filter {
    display: none;
  }

  .tags-small-screen {
    display: flex;
  }

  .people {
    grid-template-columns: repeat(auto-fill,minmax(225px,1fr));
    margin: 0 auto 76px;
  }
}

@media (min-width: 720px) {
  .people {
    padding: 0 2rem;
  }
}