* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  color: #212121;
  font-family: ff-tisa-sans-web-pro, sans-serif;
  overflow-x: hidden;
}

:root {
  --primary-color: #84bc2d;
  --secundary-color: #7f9054;
  --tertiary-color: #f3f5ee;
  --text-color: #212121;
  --background-color-01: #d1d9be;
  --transition-01: 0.075s ease-in-out;
}

/* Algemene styling */

.heading,
h1,
h2,
h3,
h4,
h5 {
  font-family: proxima-nova, sans-serif;
  font-weight: 900;
  line-height: 110%;
}

li {
  list-style: none;
}

/* Skip to content link */

a.skip-main {
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  left: -999px;
  overflow: hidden;
  z-index: -999;
  font-family: proxima-nova,sans-serif;
  font-weight: 600;
  color: var(--primary-color);
  text-decoration: none ;
}

a.skip-main:active, a.skip-main:focus {
  height: auto;
  left: 10px;
  overflow: auto;
  padding: 5px 10px;
  top: 10px;
  width: auto;
  z-index: 999;
}

/* Navigatie */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 18px 46px;
  max-width: 720px;
}

nav a {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  color: var(--primary-color);
  text-decoration: none;
  transition: var(--transition-01);
}

.menu {
  display: flex;
  align-items: center;
}

.menu svg {
  height: 20px;
  width: 20px;
  margin-right: 0.5rem;
}

.menu svg path {
  fill: var(--primary-color);
  transition: fill var(--transition-01);
}

.logo {
  height: 80px;
  width: 53px;
}

.left-links,
.right-links {
  display: none;
  position: relative;
  z-index: 100;
}

nav button,
.left-links,
.right-links {
  border: none;
  background: none;
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--primary-color);
}

/* Main */

h1 { /* Heading */
  margin: 0 18px 2.875rem;
  font-size: 2.5rem;
}

.intro { /* Paragraaf */
  margin: 0 18px 2rem;
  font-size: 120%;
  font-weight: 700;
  line-height: 1.5em;
}

/* Filter & tags */

.tags {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 18px 2rem;
}

.filter {
  margin-bottom: 1rem;
  background: none;
  border: none;
  text-align: start;
  font-family: proxima-nova, sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: var(--primary-color);
  text-transform: uppercase;
}

.tags-small-screen {
  /* display: none; */
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.25rem;
  background: var(--tertiary-color);
  max-height:0;
  opacity: 0;
  transition: 0.1s ease-in-out;
}

.tags-small-screen.show-tags { /* om de filters een transitie te geven als je ze opent */
  /* display: flex; */
  /* animation: show-tags 0.1s ease-in-out; */
  padding: 0.25rem;
  max-height: 10.5rem;
  opacity: 1;
}

@keyframes show-tags {
  from {
    opacity: 0;
    margin-top: -5%;
  }
  to {
    opacity: 100%;
    margin-top: 0;
  }
}

.slide-in {
  animation: slide-in 0.5s ease-in-out forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0
  }
  to {
    transform: translateX(0%);  
    opacity: 1;
  }
} 

.tags-small-screen button,
.flip-card-back span {
  flex-grow: 1;
  margin: 2px;
  padding: 3px 6px;
  background-color: var(--background-color-01);
  border: 2px solid transparent;
  border-radius: 3px;
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-size: 16px;
  color: var(--secundary-color);
  cursor: pointer;
  transition: var(--transition-01);
}

.flip-card-back span {
  display: inline-block;
  cursor: default;
}

.hide-filter, /* Om +/- te controleren bij filters */
.show-filter.hide-plus {
  display: none;
}

.hide-filter.show-minus,
.show-filter {
  display: inline;
}

.hidden { /* class om filters in JS te hiden/showen */
  display: none;
}

/* Collega's */

.people {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(158px, 1fr));
  max-width: 1440px;
  padding: 0 18px;
  margin-bottom: 76px;
}

.people .first-name {
  font-family: proxima-nova, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.25rem;
  color: var(--text-color);
}

.people .email {
  font-family: ff-tisa-sans-web-pro, sans-serif;
  font-size: 120%;
  line-height: 1.5em;
  text-decoration: none;
  color: var(--primary-color);
}

.person {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 65px 22px 65px 22px;
}

.content {
  max-width: 720px;
}

/* Flip card hover en click*/

.flip-card-inner {
  display: grid;
  perspective: 50em;
}

.flip-card-front,
.flip-card-back {
  grid-column-start: 1;
  grid-row-start: 1;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.flip-card-back {
  rotate: y 180deg;
}

.flip-card.click .flip-card-front { /* class die via JS de card flipped */
  transform: rotateY(180deg);
}

.flip-card.click .flip-card-back {
  transform: rotateY(180deg);
}

/* Hovers, focus & active*/

nav a:hover,
nav a:focus,
nav a.active,
nav button:hover,
nav button:active,
.filter:active {
  color: var(--text-color);
}

.menu:hover svg path,
.menu:active svg path,
.menu:focus svg path {
  fill: var(--text-color);
}

.email:hover {
  text-decoration: underline;
}

.tags-small-screen button:hover,
/* .tags-small-screen button:focus, */
.tags-small-screen button:active {
  background: #fff;
  color: var(--text-color);
}

.tags-small-screen button.focused {
  background: #FFFF;
  color: var(--text-color);
}

/* Media query */

@media (min-width: 601px) {
  nav {
    margin: 0 auto;
  }

  .menu {
    display: none;
  }

  .left-links {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }

  .logo {
    margin: 0 2rem;
  }

  .right-links {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }

  .right-links li:nth-child(3) {
    padding-right: 32px;
  }

  .contact {
    display: none;
  }

  .content {
    margin: 0 auto 76px;
    padding: 0 18px;
  }

  h1 {
    font-size: 52.358px;
  }

  .filter {
    display: none;
  }

  .tags-small-screen {
    display: flex;
    opacity: 1;
    padding: 0.25rem;
    max-height: unset;
  }

  .people {
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    margin: 0 auto 76px;
  }

  .flip-card.hover .flip-card-front { /* class die via JS de card flipped */
    transform: rotateY(180deg);
  }
  
  .flip-card.hover .flip-card-back {
    transform: rotateY(180deg);
  }

}

@media (min-width: 720px) {
  .people {
    padding: 0 2rem;
  }
}

/* Dark mode */

@media (prefers-color-scheme: dark) {
  body {
    background-color: #41453B;
    color: #EEEEEE;
  }

  nav a:hover, 
  nav a:focus, 
  nav a.active, 
  nav button:hover, 
  nav button:active, 
  .filter:active {
    color: #EEEEEE;
  }

.tags-small-screen {
  background: #2F312A;
  }

.tags-small-screen button,
.flip-card-back span {
  color: var(--text-color);
  }

.people .first-name {
  color: #EEEEEE;
  }
}