* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  color: #41453b;
  font-family: ff-tisa-sans-web-pro, sans-serif;
  overflow-x: hidden;
}

:root {
  --primary-color: #84BC2D;
}

.heading,
h1,
h2,
h3,
h4,
h5 {
  font-family: proxima-nova, sans-serif;
  font-weight: 900;
  line-height: 110%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 18px 46px;
}

/* .menu {
  text-align: start;
}

.contact {
  text-align: end;
} */

.left-links,
.right-links {
  display: none;
}

nav button {
  color: var(--primary-color);
  border: none;
  background: none;
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
}

nav a {
  color: var(--primary-color);
}

h1 {
  font-size: 2.5rem;
  margin: 0 18px 2.875rem;
}

.intro {
  margin: 0 18px;
  font-size: 120%;
  font-weight: 700;
}

li {
  list-style: none;
}

.people {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill,minmax(158px,1fr));
  max-width: 1440px;
}

.tags {
  margin: 0 18px;
}

.filter {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: 900;
  color: var(--primary-color);
  background: none;
  border: none;

}

.tags-small-screen {
  display: none;
}

.tags-small-screen.show {
  display: inline;
}

.person {
  height: 180px;
  object-fit: cover;
}

.tags {
  grid-column: 1/-1 ;

}